{% extends 'admins/adminbase.html' %}
{% block title %}{% endblock %}
{% block admin_home %}active{% endblock %}

{% block content %}
    <style>

        .jumbotron {
            margin-top: 15%;

            background: #fff;
        }
    </style>
    <center>
        <section id="main" class="align-items-center">
            <div class="jumbotron bx-fade-up">

                <div class="col-md-12">
                    <h1>Admin Home</h1>
                </div>
            </div>
        </section>
    </center>

{% endblock %}
