{% extends 'admins/adminbase.html' %}
{% block title %}User List{% endblock %}
{% block user_list %}active{% endblock %}
{% block content %}
    <style>
        body {
            font-family: "Book Antiqua";
        }

        .jumbotron {
            font-family: "Book Antiqua";
            background: #e9e8e6;
            margin-top: 100px;
            height: 450px;
        }

        .card {

        }

        .text-primary {
            font-family: "Book Antiqua";
        }
    </style>


    <div class="jumbotron">
        <center>
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-header">
                        <h1 class="text-center h3 text-primary"> User List</h1>
                    </div>
                    <div class="card card-body">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Sno</th>
                                <th scope="col">Name</th>
                                <th scope="col">Login Id</th>
                                <th scope="col">Mobile</th>
                                <th scope="col">Email</th>
                                <th scope="col">Locality</th>
                                <th scope="col">Status</th>
                                <th scope="col">Activate</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ user.name|capfirst }}</td>
                                    <td>{{ user.loginid }}</td>
                                    <td>{{ user.mobile }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.locality }}</td>
                                    <td>{{ user.status }}</td>

                                    {% if user.status == 'waiting' %}
                                        <td>
                                            <a class="btn-link" href="/AdminActivaUsers/?uid={{ user.id }}"
                                               style="color:DARKBLUE">Activate</a>
                                        </td>
                                    {% else %}
                                        <td> Activated</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </center>
    </div>

{% endblock %}